<!DOCTYPE html>
<html>
<head lang="en">
    @using fakebook.Models
    @model CommentbyIdModel
  <meta charset="UTF-8">
  <title>Register Page | FakeBook</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <!--link rel="alternate icon" type="image/png" href="assets/i/favicon.png"-->
  <link rel="stylesheet" href="@Url.Content("~/Assets/css/amazeui.min.css")"/>
  <link rel="stylesheet" href="@Url.Content("~/Assets/css/admin.css")" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
  <style>
    .header {
      text-align: center;
    }
    .header h1 {
      font-size: 200%;
      color: #333;
      margin-top: 30px;
    }
    .header p {
      font-size: 14px;
    }
  </style>
</head>
<body>
    <header class="am-topbar admin-header" style="background-color: #0094ff">
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only am-fl" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-middle admin-header-list">
                <li>
                    <a href="/WebView/Fakebook">
                        <span class="am-icon-man-o" style="color:#000; font-size: 18px;font-family:'微软雅黑'">
                            主页
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="am-icon-man-o" style="color:#000; font-size: 18px;font-family:'微软雅黑'">
                            状态
                        </span>
                    </a>
                </li>
                <li>
                    <a href="../Album/Gallery">
                        <span class="am-icon-man-o" style="color:#000; font-size: 18px;font-family:'微软雅黑'">
                            相册
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Album">
                        <span class="am-icon-man-o" style="color:#000; font-size: 18px;font-family:'微软雅黑'">
                            说说
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/Album">
                        <span class="am-icon-man-o" style="color:#000; font-size: 18px;font-family:'微软雅黑'">
                            话题
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/chat">
                        <span class="am-icon-man-o" style="color:#000; font-size: 18px;font-family:'微软雅黑'">
                            多人聊天室
                        </span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <span class="am-icon-man-o" style="color:#000; font-size: 18px;font-family:'微软雅黑'">
                            附近的人
                        </span>
                    </a>
                </li>

            </ul>
            <form action="/search" method="post" class="am-topbar-form am-u-md-4 am-u-sm-10">
                <div class="">
                    <div class="am-input-group am-input-group-primary">
                        <input type="text" class="am-form-field search-field" name="friend" id="friend" placeholder="寻找小伙伴">
                        <span class="am-input-group-btn">
                            <button class="am-btn am-btn-primary search-button" type="submit"><span class="am-icon-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>



            <div class="am-topbar-right">
                <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                    <button class="btn btn-info" style="margin-top:8px; margin-right: 20px" onclick="location.href='/Account/Text'">
                        <span class="am-icon-man-o">
                            返回说说
                        </span>
                    </button>
                    <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-am-dropdown-toggle>通知 <span class="am-icon-caret-down"></span></button>
                    <ul class="am-dropdown-content notificationList">
                        <li class="am-dropdown-header">通知</li>
                        <li><a href="/friendManagement">处理好友请求</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <!--TEST start-->
    <!--TEST end-->
    <div class="container" align="center">
        <p class="am-icon-man-o" style="font-size: 36px">所有评论</p>
        <hr />
    </div>
   
    <div class="container">
        <div class="row col-sm-12">
            @foreach (CommentbyIdModel i in (ViewData["comment"] as List<CommentbyIdModel>))
            {

                <div class="col-sm-12" margin="center" >
                    <p>发表时间：@i.date</p>
                    <div style="width: 1080px; height: 50px; border: ridge; font-size: 20px" cols="50"; rows="2">@i.content</div>
                    <p>评论者：@i.userName</p>
                    <hr style="background-color: #0094ff; border: solid"/>
                </div>
            }
        </div>

        
    </div>
    @*<form name="myform" action="addComment" method="post">
        <input type="text" name="content" value="" required placeholder="请输入您的评论..." />
        <input type="submit" value="发表评论" />
    </form>*@
    <hr style="background-color: #0094ff"/>
    <div class="col-sm-offset-3" style="margin-bottom: 10px">
        <form name="myform" method="post" action="AddComment">
            <label style="font-size: 20px">评论</label>
            <textarea cols="40" rows="2" name="content" id="TextComment" placeholder="请输入您的评论..."></textarea>
            <input type="submit" value="发表" class="btn btn-success" name="submit" style="margin-top: 5px" />
        </form>
    </div>
    <!-- <a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a> -->
    <footer>
        <p class="am-padding-left" align=center>fakebook Tongji</p>
    </footer>
</body>
</html>
