<!DOCTYPE html>
<html>
<head lang="en">
    @using fakebook.Models
    @model LoginViewModel
    <meta charset="UTF-8">
    <title>Login Page | fakebook</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!--link rel="alternate icon" type="image/png" href="assets/i/favicon.png"-->
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/amazeui.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Assets/css/admin.css")" />
    <style>
        .header {
            text-align: center;
        }

            .header h1 {
                font-size: 200%;
                color: #333;
                margin-top: 30px;
            }

            .header p {
                font-size: 14px;
            }
    </style>
</head>
<body>
    <header class="am-topbar am-topbar-fixed-top" style="background:#1E5B94">
        <div class="am-container">
            <h1 class="am-topbar-brand" style="color:#ffffff; font-size: 30px">
                FakeBook
            </h1>
        </div>
    </header>
    <div class="header" style="margin-top: 90px">
        <div class="am-g am-u-sm-4 am-u-sm-centered">
            <h2>Login</h2>
            <a href="/"><img class="am-u-sm-4 am-u-sm-centered" src="@Url.Content("~/Assets/logos/fakebook_logo.png")"></a>
        </div>
        <hr />
    </div>
    <div class="am-g" style="margin-top: 60px">
        <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">


            <form action="Login" method="post" class="am-form">
                <label for="accountLabel">账号:</label>
                <input type="text" name="username" id="username" value="" placeholder="请输入账号">
                <br>
                <label for="password">密码:</label>
                <input type="password" name="password" id="password" value="" placeholder="请输入密码">
                <br>
                <label for="remember-me">
                    <input id="remember-me" type="checkbox">
                    记住密码
                </label>
                <br />
                <div class="am-cf">
                    <input type="submit" name="" value="登 录" class="am-btn am-btn-primary am-btn-sm am-fl">
                    <a href="Forget"><input type="button" name="" value="密码忘了" class="am-btn am-btn-default am-btn-sm am-fr">
                    <a href="Register"><input type="button" name="" value="注册新用户" class="am-btn am-btn-default am-btn-sm am-fr"></a>
                </div>
            </form>
        </div>
    </div>

    <footer></footer>>
        <br />
        <hr>
        <p class="am-padding-left" align=center>fakebook Tongji</p>
    </footer>
    <!--[if lt IE 9]>
    <script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
    <script src="assets/js/polyfill/rem.min.js"></script>
    <script src="assets/js/polyfill/respond.min.js"></script>
    <script src="assets/js/amazeui.legacy.js"></script>
    <![endif]-->
    <!--[if (gte IE 9)|!(IE)]><!-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/amazeui.min.js"></script>
    <!--<![endif]-->
    <script src="assets/js/app.js"></script>
    <script>
    </script>
</body>
</html>
