<% include header.html %>

<header class="am-topbar admin-header">
  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only am-fl" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-middle admin-header-list">

      <li>
        <a href="/userPage">
          <span class="am-icon-man-o">
            主页
          </span>
        </a>
      </li>

      <li>
        <a>
          <span class="am-icon-man-o">
            状态
          </span>
        </a>
      </li>

      <li>
        <a href="/album">
          <span class="am-icon-man-o">
            相册
          </span>
        </a>
      </li>

      <li>
        <a href="/chat">
          <span class="am-icon-man-o">
            多人聊天室
          </span>
        </a>
      </li>

      <li>
        <a href="javascript:;">
          <span class="am-icon-man-o">
            附近的人
          </span>
        </a>
      </li>


    </ul>
  </div>
</header>

<!--TEST start-->

<!--TEST end-->


<div class="am-cf admin-main">

  <!-- content start -->
  <div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">查找用户</strong> / <small>Find</small></div>
      <div class="am-fr am-cf">
        <input type="button" class="statebutton modify-button am-btn am-btn-primary am-fr am-show-sm-only" value="State"
        data-am-collapse="{target: '#statefield-collapse'}"></div>

<!--button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button-->


    </div>
    <hr/>


      <div class="am-u-md-12">
        <ul class="am-comments-list" id="searchlist">
        </ul>
      </div>



    <hr/>
  </div>
  <!-- content end -->
</div>

<!-- <a class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a> -->

<footer>
  <br/>
  <hr>
  <p class="am-padding-left" align=center>fakebook Tongji</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="assets/js/app.js"></script>
<script src="/socket.io/socket.io.js"></script>


<script>
var socket = io ();
var search_result = [];
socket.on ('connect', function () {
  socket.emit ('getSearchRequest', {some: "search"});
});

socket.on ('getSearchResultFromServer', function (data) {
  console.log (data);
  search_result = data;
  initFoundList ();
});


/*
            <li class="am-g am-u-md-3 am-u-end">

              div1  <div class="am-panel am-panel-default am-cf">
                div2  <div class="am-panel-bd">
                  img  <img class="am-img-circle am-img-thumbnail" src="head_imgs/head_test.png" alt=""/>
                  h3   <h3 class="am-panel-title am-u-md-12" >monzy613</h3>
                </div>

               div3 <div class="am-panel-bd">
                  div4<div class="am-panel">
                    btn<button class="modify-button am-btn am-btn-primary am-u-md-12">加为好友</button>
                  </div>
                </div>
              </div>

            </li>

*/


function addResultList (nickname, _id, headImage, number) {
  td = document.getElementById('searchlist');
  var liObj = document.createElement('li');
  if ((number + 1) % 4 !== 0 && ((number + 1) === (search_result.length))) {
    liObj.setAttribute('class', 'am-g am-u-sm-4 am-u-md-3 am-u-end');
  } else {
    liObj.setAttribute("class", 'am-g am-u-sm-4 am-u-md-3');
  }
  var div1 = document.createElement('div');
  div1.setAttribute('class', 'am-panel am-panel-default am-cf');
  var div2 = document.createElement('div');
  div2.setAttribute('clas', 'am-panel-bd');
  var img = document.createElement('img');
  img.setAttribute('class', 'am-img-circle am-img-thumbnail');
  img.setAttribute('src', headImage);
  img.setAttribute('alt', "");

  var span = document.createElement('span');
  span.setAttribute('class', 'am-u-md-6 am-u-sm-centered am-u-end');
  span.innerText = nickname;

  var div3 = document.createElement('div');
  div3.setAttribute('class', 'am-panel-bd am-u-sm-centered');
  var div4 = document.createElement('div');
  div4.setAttribute('class', 'am-panel');
  var btn = document.createElement('button');
  btn.setAttribute('class', 'modify-button am-btn am-btn-primary am-u-sm-12 am-padding-vertical-xs');
  btn.setAttribute('data-id', _id);
  btn.setAttribute('data-nickname', nickname);
  btn.setAttribute('onclick', "addButtonPressed(this)");
  btn.innerText = "加为好友";

  div4.appendChild(btn);
  div3.appendChild(div4);

  div2.appendChild(img);
  div2.appendChild(span);
  div1.appendChild(div2);
  div1.appendChild(div3);

  liObj.appendChild(div1);
  td.appendChild(liObj)
}

function addButtonPressed (pressedBtn) {
  var id = pressedBtn.getAttribute('data-id');
  var nickname = pressedBtn.getAttribute('data-nickname');
  $.post ('/friendAdder', {user_id: id, user_nickname: nickname}, function (data) {console.log ("addFriend: " + data);});
  alert ('已向' + pressedBtn.getAttribute('data-id') + '申请好友');
}


function initFoundList () {
  for (var i = 0; i < search_result.length; i++) {
    addResultList (search_result[i].nickname, search_result[i]._id, 'head_imgs/head_test.png', i);
  }
}



</script>
</body>
</html>
